<% provide(:title, "Glossary") %>
<div style='font-size:20px'>

<% @glossary_sheet.each do |word|%>
    <!-- https://stackoverflow.com/questions/1227571/how-to-get-a-specific-output-iterating-a-hash-in-ruby -->
    <div>
    <strong> <u><%= word["Term"] %></u> </strong>
    <i>Associated section <%= word["Associated Section"]%> </i>
    <p><%= word["Definition"]%></p>
    </div>
<% end %>
</div>
