<% provide(:title, "Glossary") %>
<div style='font-size:20px'>

<% @glossary_sheet.to_h.each do |word, definition|%>
    <!-- https://stackoverflow.com/questions/1227571/how-to-get-a-specific-output-iterating-a-hash-in-ruby -->
    <div>
    <strong> <u><%= word %></u> </strong>

    <p><%= definition%></p>
    </div>
<% end %>
</div>
