<% provide(:title, "Home") %>
<!-- home_title includes primary title and the search circle found in _home_title.erb-->
<div class='row'>
   <%= render 'layouts/home_title'%>
</div>
<hr style='opacity: 0;'>
<!--Glossary circle-->
<%= link_to(
   raw("<div id='home_community_partner'>
           <div class='circleBase'>
               <span class='glyphicon glyphicon-briefcase'>
               </span>
               Community Partners
           </div>
       </div>"),
   partners_path)
   %>
<!--Image-->
<div class='home_image text-center col-md-3' >
   <%= image_tag 'grinnell-students-doing-engaged-work.JPG', class:'home_image'%>
</div>
<!--Home summary description  -->
<div class='home_summary'>
   <p class="title"> A digital toolbox for faculty</p>
   <p>
      interested in, currently building, or reflecting on 
      community engaged teaching, scholarship, and mentorship.
   </p>
</div>