<% provide(:title, "Implementation") %>


<div class="sidenav">
  <ul class="menu">
    <li><%= link_to "Back to top", "#" %></li>
    <li><%= link_to "Ethics & Governance", "#section1" %></li>
    <li><%= link_to "Preparation", "#section2" %></li>
    <li><%= link_to "Action", "#section3" %></li>
   </ul>
</div>

<!--content-->
<div class = "main">
  <!--Page Title-->
  <h1>Implementation</h1>
  
  <div id="section1">
    <h2>1. Ethics & Governance</h2>
  </div>
  
  <div id="section2">
    <h2>2. Preparation</h2>
  </div>
  
  <div id="section3">
    <h2>3. Action</h2>
  </div>
  
   
</div>
 