<% provide(:title, "Partners") %>
<div class = "main-center">
<h1>Community Partners</h1>


<!--Scroll Button-->
<button onclick="topFunction()" id="myBtn" title="Go to top"><span class='glyphicon glyphicon-chevron-up fa-1x'></button>

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>



<!--MAP-->
<style>.embed-container {position: relative; padding-bottom: 50%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: relative; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="500" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="GC Community Partners" src="//learngis2.maps.arcgis.com/apps/Embed/index.html?webmap=546823ae372740c4bbf65500cffe7a2f&extent=-92.7723,41.7306,-92.6711,41.7661&home=true&zoom=true&previewImage=false&scale=true&details=true&legend=true&active_panel=details&disable_scroll=true&theme=light"></iframe></div>


<!--Partner 1-->
<div class='container-border'>
    <div>
      <logo-icon> 
        <a href="https://www.alexitoiowa.org">
          <img src='https://static.wixstatic.com/media/15e5d3_190b8eeb24a24e51a83c450ce251d6e8~mv2.png/v1/fill/w_736,h_344,al_c,usm_0.66_1.00_0.01/15e5d3_190b8eeb24a24e51a83c450ce251d6e8~mv2.png' class='logo-icon'>
        </a>
    </div>  
    <div style='margin-left:0px;'>
      <h4><b>Latinas al Éxito</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education, Government and Social Services, Community Based Learning Class.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.alexitoiowa.org"><em>https://www.alexitoiowa.org</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 480-0904</div>
      
      <div style="font-size:0.9em">Latinas al Éxito (Latinas toward Success) is an AAUW-Iowa initiative which provides an alliance between 
      eighth-grade Latinas and professional, college-experienced Latinas with activities designed to eliminate barriers that keep young
      Latinas from college, to motivate students for educational achievement, to equip a more educated workforce, and to empower adult 
      Latinas who have college experience in leadership roles.
    </div>
    </div>
</div>

<!--Partner 2-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.redcross.org/local/iowa.html">
              <img src='https://www.redcross.org/content/dam/redcross/imported-images/redcross-logo.png.img.png' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>American Red Cross of Iowa (Des Moines)</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education, Government and Social Services, Community Based Learning Class.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.redcross.org/ia/des-moines"><em>https://www.redcross.org/local/iowa.html</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> 1-800-733-2767</div>
      
      <div style="font-size:0.9em">The American Red Cross exists to provide compassionate care to those in need. Our network of generous donors, 
      volunteers and employees share a mission of preventing and relieving suffering, here at home and around the world, through five key service areas:
    </div>
    </div>
</div>

<!--Partner 3-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Bailey%20Park%20Elementary">
              <img src='https://www.grinnell-k12.org/vimages/L14/logo.png' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Bailey Park Elementary School</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education Professions.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Bailey%20Park%20Elementary"><em>https://www.grinnell-k12.org/vnews/display.v/SEC/Bailey%20Park%20Elementary</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-2770</div>
      
      <div style="font-size:0.9em">Bailey Park Elementary School is a public elementary school that serves students between the grade levels of 
      kindergarten and second grade. The school is one of 2 primary schools for this age level in the town of Grinnell, and is part of the 
      Grinnell-Newburg School District. If you would like to work with Bailey Park, please contact the Assistant Director of Service and Social 
      Innovation or the Director of the Education Professions Community at the CLS before reaching out to school officials.
      </div>
    </div>
</div>

<!--Partner 4-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.brooklyn.k12.ia.us">
              <img src='https://lh3.googleusercontent.com/ZKEVIPTN9OoPeK4UF2cpFXarKgtn4Ynvljshvhp3bXHIa32C8U6OX-9EU4gmyGHgG28QA-U=w16383' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Brooklyn Guersey Malcom Schools</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education Professions.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.brooklyn.k12.ia.us">
          <em>https://www.brooklyn.k12.ia.us</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 522-9268</div>
      
      <div style="font-size:0.9em">BGM schools represents the public school district for students living in the communities of Brooklyn,
      Guernsey, and Malcolm in east-Central Iowa. The district serves about 550 students and works with students from Pre-K to 12th
      grade. If you would like to work with BGM schools, please contact the Assistant Director of Service and Social Innovation or the 
      Director of the Education Professions Community at the CLS before reaching out to school officials.
      </div>
    </div>
</div>

<!--Partner 5-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.heartofiowabigs.org/grinnell.html">
              <img src='https://www.heartofiowabigs.org/uploads/1/0/0/2/100265850/rgb-primary-433-1916x1002.jpg' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Big Brother/Big Sisters of Grinnell</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education Professions, Government and Social Services.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.heartofiowabigs.org/grinnell.htmls">
          <em>https://www.heartofiowabigs.org/grinnell.html</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641)-753-6370 </div>
      
      <div style="font-size:0.9em">Heart of Iowa Big Brothers Big Sisters is based out of Marshalltown, Iowa. The Heart of Iowa BBBS Grinnell Program is active in the 
      three Grinnell elementary schools and the Grinnell Middle School.
      </div>
    </div>
</div>

<!--Partner 6-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.centraliowachristianschool.org">
              <img src='https://static.wixstatic.com/media/7c704d_6ab0e27d45ec4fedb5dd0fd647ff30da~mv2.jpg/v1/crop/x_0,y_166,w_1360,h_686/fill/w_690,h_456,al_c,q_80,usm_0.66_1.00_0.01/7c704d_6ab0e27d45ec4fedb5dd0fd647ff30da~mv2.jpg' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Central Iowa Christian School</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education Professions.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.centraliowachristianschool.org">
          <em>https://www.centraliowachristianschool.org</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-3000</div>
      
      <div style="font-size:0.9em">At Central Iowa Christian School, we define our role as one to support families. The school compliments what is taught at home and at church, and is not a replacement for either. We believe that all students should have the 
      opportunity to learn surrounded by Christ, maximize their individual potential for growth, and explore and develop interests. We use inquiry-based learning, multi-grade classrooms and faith-based practices to provide excellent educations to each of our students.
      </div>
    </div>
</div>

<!--Partner 7-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://cfum.org">
              <img src='https://cfum.org/wp-content/uploads/2014/08/CFUM_4C_PMSlogo_400w.jpg' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Children and Family Urban Ministries (Des Moines)</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Government and Social Science, Heath Professions.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://cfum.org">
          <em>https://cfum.org</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 282-3242</div>
      
      <div style="font-size:0.9em">The mission of CFUM is to create a community that supports the potential of children, youth, and families through educational success, healthy living, and community engagement. CFUM is a 501-C-3 entity and our Tax ID # is 42-1396833.
      Children and Family Urban Movement rents space with Trinity United Methodist Church located on the corner of 8th and College directly across the street from Moulton Extended Learning Center.
      </div>
    </div>
</div>

<!--Partner 8-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://ahrensfamilyfoundation.org">
              <img src='https://ahrensfamilyfoundation.org/wp-content/uploads/2016/05/cdaf_logo_new_retina.jpg' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Claude W. & Dolly Ahrens Foundation</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Business and Finance, Government and Social Science, SLWS, Internships.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://ahrensfamilyfoundation.org">
          <em>https://ahrensfamilyfoundation.org</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-5518</div>
      
      <div style="font-size:0.9em">The Grinnell College Innovator for Social Justice Prize (the Grinnell Prize) honors individuals who have demonstrated leadership in their fields and who show creativity, commitment, and extraordinary accomplishment in effecting positive social change.
      Each prize carries an award of $100,000, half to the winning individual(s) and half to their organization.</div>
    </div>
</div>

