<% provide(:title, "Professional Development") %>

<!--Scroll Button-->
<button onclick="topFunction()" id="myBtn" title="Go to top"><span class='glyphicon glyphicon-chevron-up fa-1x'></button>

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

<div class="sidenav">
  <ul class="menu">
    <li><%= link_to "Back to top", "#" %></li>
    <li><%= link_to "Student Development", "#section1" %></li>
    <li><%= link_to "Faculty Development", "#section2" %></li>
   </ul>
</div>

<!--content-->
<div class = "main">
  <!--Page Title-->
  <h1>Professional Development</h1>
  
  <div id="section1">
    <h2>1. Student Development</h2>
  </div>
  
  <div id="section2">
    <h2>2. Faculty Development</h2>
  </div>
   
</div>
 