<% provide(:title, "What is CEL") %>
<!--<h1>StaticPages#what_is_cel</h1>-->
<!--<p>Find me in app/views/static_pages/what_is_cel.html.erb</p>-->
<div class="sidenav">
  <ul class="menu">
    <li><%= link_to "Back to top", "#" %></li>
    <li><%= link_to "How to use this toolkit", "#section1" %></li>
    <li><%= link_to "CEL FAQ's", "#section2" %></li>
    <li><%= link_to "Resources", "#section3" %></li>
   </ul>
</div>
<!--content-->
<div class = "main">
  <!--Page Title-->
  <h1>What is Community Engagement Learning?</h1>
  
  <h2 id="section1">How to use this toolkit<h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  Pretium quam vulputate dignissim suspendisse in est. Eget sit amet tellus cras adipiscing enim eu turpis egestas. Viverra aliquet eget sit amet. 
  Tortor dignissim convallis aenean et tortor at risus viverra. Fringilla est ullamcorper eget nulla facilisi. Donec pretium vulputate sapien nec. 
  Ultricies mi eget mauris pharetra et ultrices neque. Duis at consectetur lorem donec massa sapien faucibus. Felis donec et odio pellentesque diam. 
  Lacus laoreet non curabitur gravida arcu ac tortor dignissim. Quam lacus suspendisse faucibus interdum posuere lorem. Sagittis nisl rhoncus mattis 
  rhoncus urna neque viverra. Erat nam at lectus urna duis convallis convallis tellus. Bibendum enim facilisis gravida neque convallis a cras semper. 
  Elementum eu facilisis sed odio morbi quis commodo odio. Lacus viverra vitae congue eu consequat. Sit amet mattis vulputate enim nulla aliquet porttitor lacus.</p>
 
  <h2 id="section2">CEL FAQ's<h2>
  <p>CNibh tortor id aliquet lectus proin nibh nisl. Et egestas quis ipsum suspendisse ultrices gravida dictum. Donec pretium vulputate sapien nec 
  sagittis aliquam malesuada. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Massa vitae tortor condimentum lacinia. Libero justo
  laoreet sit amet. Mauris vitae ultricies leo integer. Maecenas volutpat blandit aliquam etiam erat velit scelerisque in. Et sollicitudin ac orci
  phasellus egestas tellus rutrum tellus. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Sit amet risus nullam eget felis 
  eget nunc lobortis. Neque vitae tempus quam pellentesque nec nam. Tempus quam pellentesque nec nam aliquam. Magna eget est lorem ipsum dolor. 
  Pharetra vel turpis nunc eget lorem dolor sed.</p>
  
  <h2 id="section3">Resources<h2>
  <p>Feugiat pretium nibh ipsum consequat. Convallis aenean et tortor at risus viverra adipiscing. Consequat interdum varius sit amet mattis vulputate
  enim nulla. Sociis natoque penatibus et magnis dis parturient montes. Aenean sed adipiscing diam donec. Sollicitudin ac orci phasellus egestas tellus
  rutrum tellus pellentesque eu. Volutpat sed cras ornare arcu. Quisque sagittis purus sit amet volutpat consequat. Fermentum et sollicitudin ac orci
  phasellus egestas tellus rutrum tellus. Nunc mattis enim ut tellus elementum sagittis vitae et leo. Netus et malesuada fames ac. Amet venenatis urna 
  cursus eget nunc scelerisque. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat.</P>
</div>
 <!--</div>-->