@import "bootstrap-sprockets";
@import "bootstrap";

/* variables */

$lavender: #BEB8F4;
$dark-purple: #230F4F;
$purple: #00175F;
$light-lavender: #e5e2fa;

/* universal */

body {
  padding-top: 120px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}



li {
  font-size: 18px;
  line-height: 1.2em;
  text-align: left;
  color: black;
  padding-top: 6px;
}

/* IMAGES*/
/*Grinnell logo*/
.logo {
  margin-top: -5px;
  width: 40px;
}

/* Class for every image of all pages in website*/
.image {
  padding-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* Class for home image*/
.home_image {
  padding-top: 15px;
  padding-bottom: 5px;
  display: inline;
  margin-left: -20px;
  margin-right: auto;
  width: 150%;
  margin-top: -100px;
}

/* Navigation Header */
nav {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: $dark-purple;
  display: inline;

  /* Emphasized links in the header */
  .home_link {
    font-size: 18px;
    padding-top: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #fff;
  }

  .navbar-brand {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 2.0em;
    font-weight: bold;
  }
  
  /*Styling for the hamburger menu*/
  .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: $lavender;
    background-image: none;
    border: 4px solid transparent;
    border-radius: 4px;

    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: $dark-purple;
    }
  }
  a {
    color: #E6E6E6;
    font-size: 16.2px;
    line-height: 5px;
  }

}

.dropdown-toggle{
  font-size: 18px;
  padding-top: 40px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 0px;
}

/* Footer */

footer {
  margin-top: 10px;
  border-top: 1px solid #eaeaea;
  a {
    color: #555;
    font-size: small;
  }
  a:hover {
    color: #222;
  }
  footer small {
    float: left;
    font-size: small;
  }
  ul {
    float: right;
    list-style: none;
    li {
      padding-top: 0px;
      float: left;
      margin-left: 15px;
    }
  }
  
    padding-top: 10px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #F3F3F3;
}

/* Sidebar menu */

.sidenav {
  background-color: #C6C6CF;
  opacity: 0.9;
  width: 290px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 120px;
  /* Stay at the top */
  left: 0; // background-color: $maeve;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 0px;
  a {
    font-family: Tahoma, Geneva, sans-serif;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: black; //display: block;
  }
  /* When you mouse over the navigation links, change their color */
  a:hover {
    color: #000000;
  }
}


/* Style page content */

.main {
  /* Same as the width of the sidebar */
  margin-left: 240px;
  padding-top: 0px;

  h1 {
    font-size: 48px;
    letter-spacing: -2px;
    text-align: center;
    color: $dark-purple;
    font-weight: bold;
  }

  h2 {
    font-size: 37px;
    letter-spacing: -1px;
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    color: #000000;
  }

  h3 {
    color: $dark-purple;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    line-height: 1.2em;
    text-align: left;
    color: black;
    padding-top: 6px;
  }
}

.main-center{
  /* Same as the width of the sidebar */
  margin-left: center;
  padding-top: 0px;

  h1 {
    font-size: 48px;
    letter-spacing: -2px;
    text-align: center;
    color: $dark-purple;
    font-weight: bold;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 37px;
    letter-spacing: -1px;
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    color: #000000;
  }

  h3 {
    color: $dark-purple;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    line-height: 1.2em;
    text-align: left;
    color: black;
    padding-top: 6px;
  }
}


/* UI CHANGES FOR DIFFERENT SCREEN SIZES*/

/* On slightly smaller broswers, adjust logo size so that navbar would fit in the page*/

@media screen and (max-width: 1460px) {
  .logo {
    width: 30px;
    margin-left: 10px;
  }
}

/* When collapsing browsers, adjust body padding so that it would not be obscured by navbar*/

@media screen and (max-width: 1215px) {
  /* Adjust body padding so that it would not be obscured by navbar*/
  body {
    padding-top: 160px;
  }

  /* Push down image so that it would not be obscured by title*/
  .home_image  {
    margin-top: -45px;
    float: left;
  }
}

/* When collapsing browsers even more,decrease image size*/

@media screen and (max-width: 1000px) {
  .home_image  {
    margin-top: 10px;
    margin-right: 150px;
    width: 70%;
    float: left;
  }
}

/* On phone screens*/

@media screen and (max-width: 500px) {

  /* Temporary hide sidebar
In the furture, make sidebar into expandable button when in small screens
https://www.w3schools.com/howto/howto_css_sidenav_buttons.asp*/
  .sidenav {
    padding-top: 15px;
    a {
      font-size: 18px;
    }
    visibility: hidden;
  }
  /* Same as the width of the sidebar */
  .main {
    margin-left: 10px; //padding-top: 0px;
  }
  /* Shorten body padding since the navbar is now less tall*/
  body {
    padding-top: 100px;
  }

  /* Decrease and reposition image*/
  .home_image {
    width: 80%;
    float: left; //margin-top: 10px;
    margin-right: 0px; //margin-left: -50px;
  }
}

// Partners page 
// Adjusts image size for the parners logo to fit in left side of text.
.logo-icon{
  margin-left:1%;
  margin-right:1%;
  float:left; 
  height:140px;
  width:140px;
  object-fit: contain;
} 

// Adjusts text and creates rounded border
.container-border {
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    border-radius: 25px;
    border: 1px solid #c2c2c2;
    padding: 20px; 
    margin: auto;
    max-width:100%;
    height:auto;
    padding:1%;
    margin-top: 25px;
    margin-bottom: 0px;
}
.container-border:hover {
    // box-shadow: 0 0 11px rgba(33,33,33,.30);
    transform: scale(1.09);
}


// Scroll back to the top button
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  // object-position: right 60%;
  bottom: 10%; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 4px solid $purple; /* Remove borders */
  background-color: #fff; /* Set a background color */
  color: $purple; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 4px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#myBtn:hover { /* Add a dark-grey background on hover */
  border: 4px solid $lavender; /* Remove borders */
  color: $lavender; /* Text color */
}


// Partners page 
// Adjusts image size for the syllaby preview image to fit in the center of the container box.
.preview-image{
  margin-left:1%;
  margin-right:1%;
  float:center;
  height:80%;
  width:80%;
  object-fit: contain;
  opacity: 0.5;
  color:#fff;
} 
.preview-image:hover{
  opacity: 1.0;
  color:#75AD38;
   border: 1px solid $dark-purple;
}
  

* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 0 40px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 3px 6px 0 rgba(229, 226, 250, 1), 0 3px 10px 0 rgba(229, 226, 250, 1);
  border-radius: 25px;
  border: 1px solid lavender;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  object-fit: contain;
  background:#fff;
}
.card:hover {
    // box-shadow: 0 0 11px rgba(33,33,33,.30);
    transform: scale(1.2);
}

