@import "bootstrap-sprockets";
@import "bootstrap";

/* variables */

$yellow:#FFE765;
$pink: #F7A5BB;
$beige: #E9E0FF;
$maeve: #BEB8F4;
$dark-purple: #230F4F;
$purple: #00175F;
$grey: #808080;
$pale-yellow: #FFF09A;

/* universal */

body {
  background-color: $yellow; // padding-top: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 48px;
  letter-spacing: -2px;
  margin-bottom: 5px;
  text-align: center;
  color: $dark-purple;
  font-weight: bold;
}

h2 {
  font-size: 37px;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

h3 {
  color: $dark-purple;
  font-weight: bold;
}

div {
  // padding-top: 10px;
}

p {
  font-size: 18px;
  line-height: 1.2em;
  text-align: left;
  color: black;
  padding-top: 6px;
}

li {
  font-size: 18px;
  line-height: 1.2em;
  text-align: left;
  color: black;
  padding-top: 6px;
}

.logo {
  width: 60px; 
}

.image {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* Navigation Header */

.site-navigation {
  margin-bottom: 20px;
  
  nav {
    background-color: $yellow;
    margin-top: -15px;

    ul {
      list-style-type: none;
      padding-top: 0px;
      margin: 0;
      li {
        display: inline;
        a {
          color: black;
          font-size: 19px;
          font-weight: 500;
          padding: 30px 10px;
          padding-bottom: 20px;
          text-decoration: none;
          text-align: center;
          box-shadow: 0 0 0 0 $dark-purple;
        }
      }
      li :hover {
        box-shadow: 0 5px 0 0 $dark-purple;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

/* Improved navigation using flexbox */

// wrapper for both desktop and mobile menu
header.main-nav {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  
  nav {
    background-color: $yellow;
  }
}

.desktop-menu {
  display: flex;

  .menu-items {
    display: flex;
    list-style: none;
    align-items: center;
  }


  .home_link {
    font-size: 20px;
    padding-top: 40px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  ul {

    li {
      display: inline;
      padding: 30px 10px;
      text-align: center;
      box-shadow: 0 0 0 0 $dark-purple;
      
      a {
        color: black;
        font-size: 19px;
        font-weight: 500;
        padding-bottom: 20px;
        text-decoration: none;
      }
    }
    
    li:hover {
      // color: $dark-purple;
      // background-color:$pale-yellow;
      box-shadow: 0 5px 0 0 $dark-purple;
      transition: all 0.3s ease-in-out;
    }
    
  }
}

.mobile-menu {
  display: flex;
  width: 80vw;
  flex-direction: column;
  align-items: center;
  
  .top-side {
    
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
    
    a.home_link {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      color:$dark-purple;
    }
    
    a.icon {
      background-color: $maeve;
      padding: 20px;
      color:$dark-purple;
    }
  }
  
  ul.menu-items {
    display: flex !important;
    align-items: flex-start;
    
    margin-top: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    
    background: $maeve;
    flex-direction: column;
    
    li {
      display: inline;
      text-align: left;
      box-shadow: 0 0 0 0 $dark-purple;
      
      a {
        color: black;
        font-size: 19px;
        font-weight: 500;
        padding-bottom: 20px;
        text-decoration: none;
      }
    }
    
    li:hover {
      // color: $dark-purple;
      // background-color:$pale-yellow;
      box-shadow: 0 5px 0 0 $dark-purple;
      transition: all 0.3s ease-in-out;
    }
    
  }
}

/* footer */

footer {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  color: $yellow;
  a {
    color: #555;
  }
  a:hover {
    color: #222;
  }
  footer small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}



/* The sidebar menu */

.sidenav {
  width: 280px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 150px;
  /* Stay at the top */
  left: 0;
  background-color: $maeve;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
  a {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
  }
  /* When you mouse over the navigation links, change their color */
  a:hover {
    color: #000000;
  }
}

/* Style page content */

.page_topic {
  margin-left: 260px;
  /* Same as the width of the sidebar */
  padding-top: 0px;
}

.main {
  margin-left: 140px;
  /* Same as the width of the sidebar */
  padding-top: 20px;
}

/* On phone screens, where width is less than 500px temporary hide sidebar

In the furture, make sidebar into expandable button when in small screens
https://www.w3schools.com/howto/howto_css_sidenav_buttons.asp

Alternatively, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-width: 500px) {
  .sidenav {
    padding-top: 15px;
    a {
      font-size: 18px;
    }
    visibility: hidden;
  }

  .main {
    margin-left: 20px;
    /* Same as the width of the sidebar */
    padding-top: 20px;
  }
}



/*On smaller screen, turn nav bar into hamburger menu
  https://www.w3schools.com/howto/howto_js_mobile_navbar.asp*/

/* Mobile menu is shown */

@media screen and (max-width: 1000px) {
  
  header.main-nav {
    padding-bottom: 40px;
  }
  
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    
    #mobile-links {
      display: none !important;
    }
    
    #mobile-links.show {
      display: flex !important;
    }
  }
}

/* Dekstop menu is shown */

@media screen and (min-width: 1001px) {
  .mobile-menu {
    display: none;
  }
}
