// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$basefont: '';
$maeve: #E4CABD;

.home_intertitle {
    float: left
}

.home_intertitle>p {
    LINE-HEIGHT: 43.3px;
    text-align: start;
    font-size: 53.3px;
    font-family: $basefont;
    color: black;
    font-weight: bold;
}

.home_summary {
    color: rgb(0, 0, 0);
    font-family: Arial, serif;
    font-size: 20.9px;
    font-weight: bold;
    text-align: start;
    top: 50%;
    margin-top: 50px;
    width: 300px;
    float: right;

    p {
        LINE-HEIGHT: 33.3px;
        margin-left: -160px;
    }
}

.home_image {
    margin-top: 10px;
}

.circleBase {
    border-radius: 50%;
}

#home_search_by_topic {
    width: 300px;
    float: left;

    div {
        background-color: $maeve;
        margin-top: -100px;
        padding: 50px;
        width: 220px;
        height: 220px;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }
}

#home_glossary_of_terms {
    float: right;

    div {
        background-color: $maeve;
        margin-top: -300px;
        margin-right: -80px;
        padding: 50px;
        width: 220px;
        height: 220px;
        text-align: center;
        font-size: 25px;
    }
}

#section1 {
}

#section2 {
}

#section3 {
}

.glyphicon {
    font-size: 25px;
}