// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$basefont: '';

.home_intertitle {
    float: left
}

.home_intertitle>p {
    LINE-HEIGHT: 43.3px;
    text-align: start;
    font-size: 53.3px;
    font-family: $basefont;
    color: black;
    font-weight: bold;
}

.home_summary {
    float: left;
    text-align: start;
    font-family: Arial, serif;
    font-size: 25.9px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}