// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$basefont: '';
$maeve: #BEB8F4;
$purple: #00175F;
$dark-purple: #20004B;

.home_intertitle {
    float: left
}

.home_intertitle>p {
    LINE-HEIGHT: 90px;
    text-align: center;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: black;
    font-weight: 600;
    font-size: 89px;
    margin-left: -40px;
    color: $dark-purple;
}

.home_summary {
    color: rgb(0, 0, 0);
    font-family: Arial, serif;
    font-size: 25px;
    font-weight: 400;
    text-align: end;
    margin-top: -85px;
    margin-right: -50px;
    width: 750px;
    float: right;
}

.home_image {
    margin-top: -50px;
    float: right;
    margin-right: 70px;
    height: 60px;
}

.circleBase {
    border-radius: 50%;
     display: flex;
     flex-direction: column;
  justify-content: center;
  align-items: center;
    
}

#home_glossary_of_terms  {
    width: 300px;
    float: left;

    div {
        background-color: $maeve;
        margin-top: -190px;
        margin-right: -80px;
        width: 280px;
        height: 280px;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        color: $purple;
    }
}

#home_search_by_topic{
    float: right;

    div {
        background-color: $maeve;
        margin-top: -60px;
        margin-right: -40px;
        padding: 50px;
        width: 430px;
        height: 430px;
        text-align: center;
        font-size: 40px;
        color: $purple;
    }
    
    .glyphicon {
        font-size: 40px;
    }
    

}

#section1 {
    padding-top: 35px;
    #subsec1{
    }
    #subsec2 {
        padding-top: 40px;
    }
    #subsec3 {
        padding-top: 40px;
    }
}

#section2 {
    padding-top: 35px;
    #subsec1{
    }
    #subsec2 {
        padding-top: 40px;
    }
}

#section3 {
    padding-top: 35px;
}

.glyphicon {
    font-size: 30px;
}


/* On mobile screens, decrease fonts*/

@media screen and (max-width: 500px) {
.home_intertitle>p {
    LINE-HEIGHT: 90px;
    text-align: center;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: black;
    font-weight: 600;
    font-size: 75px;
    margin-left: 30px;
    color: $dark-purple;
}

.home_summary {
    color: rgb(0, 0, 0);
    font-family: Arial, serif;
    font-size: 25px;
    font-weight: 400;
    text-align: end;
    margin-top: -85px;
    //margin-right: -50px;
    width: 400px;
    float: right;
}

}
