<footer class="footer"> 
  <div class='container'>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li style="color:#808080"><small>&copy; Grinnell College, 2020</small></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>