<footer class="footer"> 
  <div class='container-fluid'>
      <!--Copy Right Statement-->
      <ul class="nav navbar-nav navbar-left">
        <li style="color:#808080"><small>&copy; Grinnell College, 2020. All rights reserved.</small></li>
      </ul>
      <!--Footer Navbar-->
      <!--About and Contact do not have links yet, stubbed by # temporarily-->
      <ul>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Glossary", glossary_path %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
  </div>
</footer>