<header class="navbar  navbar-inverse">
<div class="container">
<%= link_to "Grinnell College", '#', id: "logo" %>
<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Glossary", glossary_path %></li>
<li><%= link_to "FAQ", faq_path %></li>
</ul>
</nav>
</div>
</header>