<!--Main title-->
<div class="text-center col-md-8 home_intertitle" >
    <p> 
        Community Engaged Learning
    </p>
    <hr style='opacity: 0;'>
</div>
<!--Search circle-->
<div>
     <%= link_to(raw(" <div id='home_faculty_toolkit'>
                        <div class='circleBase'>
                            <span class='glyphicon glyphicon-folder-open'>
                            </span>
                                Faculty Toolkit
                        </div>
                    </div>"),
                     what_is_cel_path)
    %>
      
 </div>           
