<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4 home_intertitle" >
            <p > 
                Community Engaged Learning
            </p>
            <hr style='opacity: 0;'>
            <p > 
                A Faculty Toolbox
            </p>
        </div>
         <p class='home_summary'> 
            A digital toolbox for faculty, interested in, 
            currently building, or reflecting on community 
            engaged teaching, scholarship, and mentorship.
        </p>
    </div>
</div>
